<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDevelopmentRegion</key>
		<string>English</string>
		<key>CFBundleDocumentTypes</key>
		<array>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>QLGenerator</string>
				<key>LSItemContentTypes</key>
				<array>
					<string>qoi.image</string>
				</array>
			</dict>
		</array>
		<key>CFBundleExecutable</key>
		<string>qlqoi</string>
		<key>CFBundleIconFile</key>
		<string/>
		<key>CFBundleIdentifier</key>
		<string>foxoft.qoi-ci</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>qoi-ci</string>
		<key>CFBundleShortVersionString</key>
		<string>1.2.0</string>
		<key>CFBundleVersion</key>
		<string>1.2.0</string>
		<key>CFPlugInDynamicRegisterFunction</key>
		<string/>
		<key>CFPlugInDynamicRegistration</key>
		<string>NO</string>
		<key>CFPlugInFactories</key>
		<dict>
			<key>EBD90849-B1FC-4285-850B-76BD57E5C97F</key>
			<string>QuickLookGeneratorPluginFactory</string>
		</dict>
		<key>CFPlugInTypes</key>
		<dict>
			<key>5E2D9680-5022-40FA-B806-43349622E5B9</key>
			<array>
				<string>EBD90849-B1FC-4285-850B-76BD57E5C97F</string>
			</array>
		</dict>
		<key>CFPlugInUnloadFunction</key>
		<string/>
		<key>NSHumanReadableCopyright</key>
		<string>Copyright © 2022 Piotr Fusik. All rights reserved.</string>
		<key>QLNeedsToBeRunInMainThread</key>
		<false/>
		<key>QLPreviewHeight</key>
		<real>600</real>
		<key>QLPreviewWidth</key>
		<real>800</real>
		<key>QLSupportsConcurrentRequests</key>
		<true/>
		<key>QLThumbnailMinimumSize</key>
		<real>17</real>
		<key>UTImportedTypeDeclarations</key>
		<array>
			<dict>
				<key>UTTypeConformsTo</key>
				<array>
					<string>public.image</string>
				</array>
				<key>UTTypeDescription</key>
				<string>Quite OK Image</string>
				<key>UTTypeIdentifier</key>
				<string>qoi.image</string>
				<key>UTTypeTagSpecification</key>
				<dict>
					<key>public.filename-extension</key>
					<array>
						<string>qoi</string>
					</array>
					<key>public.mime-type</key>
					<string>image/qoi</string>
				</dict>
			</dict>
		</array>
	</dict>
</plist>
